body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: auto;/*Ou posso definir uma*/
}

section {
    flex: 1;
}

footer {
    height: auto;/*Ou posso definir uma*/
}

